/* Styles for the page header */


  .tags-list li a {
    background-color: #fff;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.05);
    padding: 10px 20px;
    border: 1px solid #ececec;
    font-family: Quicksand, sans-serif;
    font-size: 17px;
    font-weight: 700;
}
  

a, button {
    text-decoration: none;
    cursor: pointer;
}
.text-brand-2 {
    color: #fdc040 !important;
}
a, button, h4, img, input, span {
    transition: all .3s ease 0s;
}




 /* .row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}  */


.mb-15 {
    margin-bottom: 15px !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
h1 {
    font-size: 48px;
}

.breadcrumb {
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 600;
    background: none;
    margin: 0;
    border-radius: 0;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}
a, button, h4, img, input, span {
    transition: all .3s ease 0s;
}
a {
    color: #3bb77e;
}


.text-end {
    text-align: right !important;
}
.tags-list li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.hover-up, .hover-up:hover {
    transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.tags-list li a {
    background-color: #fff;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.05);
    padding: 10px 20px;
    border: 1px solid #ececec;
    font-family: Quicksand, sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.tags-list li a i {
    color: #b6b6b6;
    font-size: 10px;
}
i[class^=fi-rs-], span[class^=fi-rs-] {
    line-height: 0 !important;
}
.mr-10 {
    margin-right: 10px !important;
}

.align-items-center {
    align-items: center !important;
}
 .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
} 

.archive-header {
    background: url(./Img/header-bg.png) no-repeat 50%;
    border-radius: 20px;
    padding: 70px 80px;
    background-size: cover;
}

.container {
    max-width: 1610px;
}